In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.tsa.api as tsa
from pmdarima.model_selection import train_test_split
from pmdarima.arima.utils import ndiffs

In [14]:
# Custom function for Ad Fuller Test
def get_adfuller_results(ts, alpha=.05, label='adfuller', **kwargs): #kwargs for adfuller()
    # Saving each output
    (test_stat, pval, nlags, nobs, crit_vals_d, 
    icbest ) = tsa.adfuller(ts, **kwargs)
    # Converting output to a dictionary with the interpretation of p
    adfuller_results = {'Test Statistic': test_stat,
                        "# of Lags Used":nlags, 
                       '# of Observations':nobs,
                        'p-value': round(pval,6),
                        'alpha': alpha,
                       'sig/stationary?': pval < alpha}
    return pd.DataFrame(adfuller_results, index =[label])

In [18]:
# Load in data
df= pd.read_csv('WMT.csv')
df.head()

         Date  Adj Close
0  2000-01-03  44.915394
1  2000-01-04  43.234756
2  2000-01-05  42.352402
3  2000-01-06  42.814564
4  2000-01-07  46.049828

In [19]:
# Make Date a datetime object 
df['Date'] = pd.to_datetime(df['Date'])
# Make Date the index
df = df.set_index('Date')
# We have weekly data so we will set our frequency to W
df.index.freq= "B"

In [20]:
df.dtypes

Adj Close    float64
dtype: object

In [21]:
df = df.loc['2010':'2020']
df

             Adj Close
Date
2010-01-01         NaN
2010-01-04   40.963638
2010-01-05   40.555729
2010-01-06   40.465084
2010-01-07   40.487759
...                ...
2020-12-25         NaN
2020-12-28  142.946777
2020-12-29  142.041183
2020-12-30  141.923065
2020-12-31  141.893524

[2870 rows x 1 columns]

In [22]:
df.isna().sum()

Adj Close    101
dtype: int64

In [23]:
df = df.fillna(0)

In [24]:
df.isna().sum()

Adj Close    0
dtype: int64